
:global{
    #app{
        height: 100vh;
        max-width: 800px;
        margin: 0 auto;
    }

}
.main_inner{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-between;
}

.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
