.searchBar{
    margin: 8px 8px 0;
}

.ad{
    background: #fff;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.address{
    text-align: center;
    margin-top: 4px;
}
.filterBtnsWrapper{
    padding: 0 20px;
    margin-top: 16px;
    text-align: center;
    display: flex;;
    :global{
        .adm-button{
            &:nth-child(2){
                margin-left: 20px;
            }
            
            flex: 1;
        }
    }
}

.park{
    display: flex;
    margin: 8px;
    background: #fff;
    padding: 8px;
    &:not(:last-child) {
        border-bottom:1px solid #f0f0f0;
    }
    img{
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }
    .areaInfo{
        margin-left: 8px;
        .parkName{
            font-weight: bold;
            font-size: var(--adm-font-size-10);
        }
        .briefTxt{
            margin-top: 4px;
        }
    }
    .tagsWrapper{
        margin-top: 4px;
        :global{
            .adm-tag{
                color: #849aae;
                font-size: var(--adm-font-size-7);
                padding: 0 0.8vw;
                &:not(:first-child) {
                    margin-left: 8px;
                }
            }
            
        }
    }
}

.searchPanelTitle{
    position: relative;
    text-align: center;
    padding-top: 8px;
    font-size: var(--adm-font-size-10);
    font-weight: bold;
    .closeIcon{
        position: absolute;
        right: 16px;
        top: 4px;
    }
}

.popupSearchBar{
    margin: 8px 8px 0;
}

.panelSectionTitle{
    color: #232326;
    margin: 8px;
    font-size: var(--adm-font-size-8);
}

.searchItemsWrapper{
    margin: 8px;
    span{
        &:not(:first-child) {
            margin-left: 8px;
        }
    };
}

.searchItemsWrapper span, .hotSearchItem .keyword{
    height: 23px;
    line-height: 24px;
    display: inline-block;
    border-radius: 3px;
    color: #686868;
    background-color: #f0f2f5;
    padding-left: 13px;
    padding-right: 13px;
    box-sizing: border-box;
}

.hotSearchItem{
    :global{
        .adm-list-item-content-main{
            display: flex;
            box-sizing: border-box;
            span{
                display: inline-block;
                &:first-child{
                    width: 24px;
                    margin-right: 8px;
                }
                &:last-child{
                    font-size: 14px;
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
    
}

.panelBtnsWrapper{
    position: absolute;
    bottom: 8px;;
    left: 8px;
    right: 8px;
    display: flex;
    :global{
        .adm-button{
            flex: 1;
            &:nth-child(2) {
                margin-left: 16px;
            }
        }
    }
}